* {
  margin: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  clear: both;
}

a {
    text-decoration: none;
}

header {
  background-color: rgb(112, 106, 106);
}

header .nav-bar {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}

.nav-bar .logo {
  width: 211px;
  height: 75px;
  margin: 20px 15px;
}

.logo img {
  width: 100%;
}

.nav-bar-contents img {
  width: 30px;
}

.nav-bar-contents ul li {
  display: inline-block;
  padding: 20px 20px;
  text-align: center;
}

.nav-bar-contents h2 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar-contents p {
  color: #fff;
  font-style: italic;
}

.nav-bar button {
  width: 121px;
  height: 49px;
  border: 4px solid #fff;
  background-color: rgb(112, 106, 106);
  border-radius: 10px;
  margin: 40px 0 0 30px;
}

/*main section*/
.main {
  width: 100%;
}

.main-article-header {
  grid-area: h3;
  font-family: "Baloo Thambi 2", sans-serif;
  text-align: center;
  margin: 80px auto;
}

.aricle-1 {
  grid-area: a1;
}

.aricle-2 {
  grid-area: a2;
}

.aricle-3 {
  grid-area: a3;
}

.arrow-1 {
  grid-area: ar1;
}

.arrow-2 {
  grid-area: ar2;
}

.arrow-3 {
  grid-area: ar3;
}

.main-article {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "h3 h3 h3"
    "a1 a2 a3"
    "ar1 ar2 ar3";
  background-color: darkgray;
}

.bio-img img {
  transition: transform 0.2s ease-out, transform 0.2s ease-out;
  height: 85px;
  width: 85px;
}

.featured-article-intro {
  font-family: "Baloo Thambi 2", sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 23px;
}

.article-1-div {
  padding: 10px;
}

.article-1-h2 {
  font-family: "Spinnaker", sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 33px;
  padding: 50px 75px 50px 75px;
}

/* section 2 */

.section-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  margin: 0 auto;
  width: 85%;
}

.section-2 article {
  width: 316px;
  height: 433px;
  padding: 30px 40px;
  background-color: #969696;
}

.section-2 article h2 {
  padding-bottom: 20px;
  font-family: "Spinnaker", sans-serif;
}

.section-2 article a {
  color: black;
}

.section-2 article h4 {
  padding-bottom: 20px;
  color: #646464;
}